[submodule "deps/vitex"]
	path = deps/vitex
	url = https://github.com/romanpunia/vitex
[submodule "deps/rmlui"]
	path = deps/rmlui
	url = https://github.com/mikke89/RmlUi
[submodule "deps/vectorclass"]
	path = deps/vectorclass
	url = https://github.com/vectorclass/version1
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/tinyfiledialogs"]
	path = deps/tinyfiledialogs
	url = https://github.com/native-toolkit/libtinyfiledialogs
[submodule "deps/bullet3"]
	path = deps/bullet3
	url = https://github.com/bulletphysics/bullet3